/*Font used for Nav bar found by Fionn on the 25th of April*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bevan&family=Instrument+Serif&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bevan&family=Handlee&family=Instrument+Serif&family=Lobster&family=Open+Sans:wght@300&display=swap');

.container-fluid{

   height: 70px;
   width: 100%;
   font-size: 34px;
   font-family: 'Lobster', cursive;
   background-color: rgb(35, 196, 188);
   margin-top: -10px;
   margin-bottom: -10px;
}

.text-margin{
   margin-left: 10px;
}

.vl {
   border-left: 6px solid rgb(27, 173, 27);
   height: 500px;
 }
.nav-image{
   width: 50px;
   height: 50px;
   border: 2px black solid;
   border-radius: 10px 10px;
   color:white;
}

.logo-text{
   font-size: 20px;
   margin-top: 10px;
   margin-left:-10px;
}


  /*Code for simpler sizing & all other code below made by Fionn McGoldrick*/
*::before, *::after{
box-sizing: border-box;
}

body{
   margin: 0;
}

.carousel-image-details{
   margin-top: 2px;
   height:570px;
   width:100%;
}

.carousel-button {
   border-radius: 10px;
   width: 150px;
   height:40px;
   background-color: rgb(35, 196, 188);
   color:white;
   font-family: 'Lobster', cursive;
   
 }


 .carousel-text{
   font-family: 'Lobster', cursive;
   font-size: 35px;
   font-style: italic;
   font-weight: lighter;
   text-shadow: -4px 0 4px rgba(0,0,0,15);
 }

 .carousel-button:hover{
   background-color: rgb(11, 99, 126);
 }




 
.pay-option-images{
   width:200px;
   height: 50px;

}

.pay-option-text{

   font-size: 12px;
   text-decoration: italic;
}
.back-to-top-button{
color: white;
background-color:rgb(56, 209, 158);

}

/*Placeholder CSS coded by Fionn on the 26th of April 2023*/
.placeholder-layout{

   margin-top: -200px;
}
.placeholder1-img{

   margin-left: 10px;
   margin-top: 15px;
   height: 500px;
   width: 350px;
   float: left;

}

.placeholder2-img{

   margin-right: 10px;
   margin-top: 15px;
   height: 500px;
   width: 350px;
   position:relative;right: -950px; bottom:-2px;

}



.placeholder-font{
   font-family: 'Lobster', cursive;
  }



.card-text{

text-align: left;
position:relative;right: 175px; bottom: 260px;
font-style: italic;
font-size: 60px;
position: relative; left: 420px; bottom: 320px;

}

.card-text-two{
   text-align: left;
   font-style: italic;
   position:relative; bottom: 380px;
   margin-left: 10px;
   font-size: 60px;
}







 




